.cars{
    top: 60px;
    position:relative   ;
    width: 70%;
    margin: auto;   
}
.price{
    margin: 10px;;
}
.avilapulty{
    position: relative;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 200px;
}
.col {
    border: solid 1px rgb(145, 145, 145);
    text-align: center !important;
    margin: 10px;
    

}
.col img {
   
    width: 300px !important;
    height: 300px !important;
    object-fit: cover !important; 
    margin-top: 10px;
    
}
.top{
    text-align: center;
    font-family: cairo;
    font-size:xx-large;
}
.topp{
    text-align: center;
    font-family: cairo;
    font-size:medium;
    font-weight: 800;
}


.view {
    display: grid;
  column-gap: 50px;

    

}

.card{
    padding: 20px !important;
}